*{
    font-family:Verdana;
    margin:6px;
}

ul#controls{
	list-style-type: none;
}

ul#controls li{
	display:inline-block;
}

button, .btn, .btn-primary, .btn-success, .btn-warning, .btn-danger{
	margin: 10px !important;
}