{% extends 'base.html.twig' %}

{% block body %}
    <p>Homepage here!.</p>
    <button id="addbutton">Add</button>
    <button id="savebutton">Save</button>
    <button id="editbutton">Edit</button>
    <button id="deletebutton">Delete</button>
{% endblock %}
